<div class="float-container">
<div class="float-child" style="width: 600px; height: 341px; margin-top: 50px;">
    <canvas id="myChart1"></canvas>
    <br>
    <h5>Value as per Action Performed</h5>
    
</div >
<div class="float-child" id='xyz'style="width: 600px; height: 350px; margin-top: 50px ;border: 2px solid rgba(255, 0, 0, 0.2); border-radius: 20px; text-align: justify;   box-shadow: 5px 10px #888888;">
   <br>
   <br>
    <span style="   color:black">Vendor Onbarding is the process of guiding new vendors into your company’s network.

        Your vendors are, after all, the backbone of your business. Not only do you want to attract the right partners, but you also want them excited about partnering with you.
        
        Your Vendor Onboarding Process is just the first step in what you hope would be a long-lasting relationship. Not only does it help you lay down your expectations from the association, but it also gives you the opportunity to understand the vendors’ motivations, and set a precedent of what is to come, and what the vendor should expect from you</span>
    </div>
</div>