body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/649/200/63/digital-art-artwork-abstract-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // #grad {
    //     background-image: linear-gradient(#6096B4,white);
    //   }

}

h2{
    text-decoration-color: black;
}